.Container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.AllArea {
  width: 90%;
  padding: 30px 0px;
}
.Container h1 {
  margin: 10px;
  text-align: center;
}
.Container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}
.Container span {
  font-size: medium;
  margin: 40px 0px;
}

@media screen and (max-width:1050px) {
  .Container h1 {
    font-size: larger;
  }
  .Container span {
    font-size: small;
  }
}